@use "./variables" as v;

// banner section starts

.banner {
  background: linear-gradient(to right, v.$primary--color, v.$secondary--color);
  width: 100vw;
}
// banner section ends
// navbar section starts
.navbar-container {
  background-image: url(../Images/banner-image-cooking.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  a {
    margin: 0 2%;
  }
}
// navbar section ENDS

// button STARTS
.btn {
  width: 20%;
  margin: 2% auto;
  padding: 2%;
  border-radius: 1rem;
  color: v.$primary--color;
  font-weight: 700;
  &::first-letter {
    text-transform: capitalize;
  }
  @media (max-width: 750px) {
    width: 40%;
  }
}
// button ENDS

// recipe selection section BEGINS

.menu {
  text-align: center;
  margin-top: 20px;
  width: 30%;
  margin-left: 35%;
  option {
    text-transform: capitalize;
  }
  &:hover {
    cursor: pointer;
  }
}

// footer STARTS

footer {
  background: linear-gradient(to right, v.$primary--color, v.$secondary--color);
  margin-top: auto;
}

// footer ENDS
