@use "./variables" as v;

// banner section starts

.banner {
  background: linear-gradient(to right, v.$primary--color, v.$secondary--color);
}
// banner section ends
// navbar section starts
.navbar-container {
  background-image: url(../Images/banner-image-cooking.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.navbar {
  width: 60%;

  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
// navbar section ends

// footer starts

footer {
  background: linear-gradient(to right, v.$primary--color, v.$secondary--color);
}

// SWEETS section BEGINS

.menu {
  text-align: center;
  margin-top: 20px;
  width: 30%;
  margin-left: 35%;
}
