@use "./variables" as v;

// banner section starts

.banner {
  background: linear-gradient(to right, v.$primary--color, v.$secondary--color);
  width: 100vw;
}
// banner section ends
// navbar section starts
.navbar-container {
  background-image: url(../Images/yellow_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  a {
    margin: 0 2%;
  }
}
// navbar section ENDS

// button STARTS
.btn-link {
  text-decoration: none;
}

.btn {
  width: 20%;
  display: block;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: v.$secondary--color;
  font-weight: 700;
  font-family: sans-serif;
  border: solid white;

  color: white;
  &::first-letter {
    text-transform: capitalize;
  }
  &:hover {
    cursor: pointer;
  }

  @media (max-width: 750px) {
    width: 40%;
  }
}
// button ENDS

// recipe selection section BEGINS

.menu {
  text-align: center;
  margin-top: 20px;
  width: 30%;
  margin: 0 auto;
  display: block;
  option {
    text-transform: capitalize;
  }
  &:hover {
    cursor: pointer;
  }
  @media (max-width: 750px) {
    width: 70%;
  }
}
// recipe selection section ENDS

// input for the meal planner + ADD button BEGINS
.meal-planner-container {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  .meal-planner {
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
  }
  @media (max-width: 900px) {
    width: 50%;
  }
  @media (max-width: 750px) {
    width: 70%;
  }
}

.meal-planner-btn {
  width: 5%;
  text-transform: capitalize;
  height: 30%;
  &:hover {
    cursor: pointer;
  }
  @media (max-width: 900px) {
    width: 10%;
  }
  @media (max-width: 750px) {
    width: 20%;
  }
}
.meal-planner-btn-container {
  display: flex;
}

.list-items,
li {
  display: flex;
  justify-content: space-between;
}

// input for the meal planner + ADD button ENDS

// footer STARTS

footer {
  background: linear-gradient(to right, v.$primary--color, v.$secondary--color);
  margin-top: auto;
}

// footer ENDS
