@use "./variables" as v;

// banner section starts

.banner {
  background: linear-gradient(to right, v.$primary--color, v.$secondary--color);
  width: 100vw;
}
// banner section ends
// navbar section starts
.navbar-container {
  background-image: url(../Images/yellow_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  a {
    margin: 0 2%;
  }
}
// navbar section ENDS

// button STARTS
.btn {
  width: 20%;
  display: block;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: v.$secondary--color;
  font-weight: 700;
  color: white;
  font-family: sans-serif;
  border: solid white;
  &::first-letter {
    text-transform: capitalize;
  }
  @media (max-width: 750px) {
    width: 40%;
  }
}
// button ENDS

// recipe selection section BEGINS

.menu {
  text-align: center;
  margin-top: 20px;
  width: 30%;
  // margin-left: 35%;
  margin: 0 auto;
  display: block;
  option {
    text-transform: capitalize;
  }
  &:hover {
    cursor: pointer;
  }
  @media (max-width: 750px) {
    width: 70%;
  }
}

// footer STARTS

footer {
  background: linear-gradient(to right, v.$primary--color, v.$secondary--color);
  margin-top: auto;
}

// footer ENDS
