@use "./variables" as v;

* {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  height: 100%;
  font-family: v.$main--font;

  header {
    position: sticky;
    top: 0;
  }

  // background-image: url(../Images/banner-image-cooking.jpg);

  // // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
}
