@use "./variables" as v;

* {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: v.$main--font;

  .banner {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}
