img {
  object-fit: cover;
  margin: 10px;
}

.col-4 {
  width: 25%;
  float: left;
  img {
    width: 95%;
  }
}

.rose_image {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 20px 0 20px;
}

.sourdough-img {
  width: 95%;
}

.cookies-img {
  width: 95%;
}

.moroccan-meatballs-img {
  width: 95%;
}
.chicken-wraps-img {
  width: 95%;
}
