img {
  object-fit: cover;
  margin: 10px;
}

.col-4 {
  width: 25%;
  float: left;
  img {
    width: 95%;
  }
}

.rose_image {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 20px 0 20px;
}

// images of food on homepage
.sourdough-img {
  &:hover {
    // height: 280px;
    // width: 355px;
    height: 280px;
    width: 355px;
  }
}

.cookies-img {
  &:hover {
    height: 330px;
    width: 355px;
  }
}

.moroccan-meatballs-img {
  &:hover {
    height: 330px;
    width: 355px;
  }
}
.crepes-img {
  &:hover {
    height: 330px;
    width: 355px;
  }
}

.chicken-soup {
  &:hover {
    height: 270px;
    width: 355px;
  }
}
.buns-img {
  &:hover {
    height: 380px;
    width: 355px;
  }
}
.brownies-img {
  &:hover {
    height: 420px;
    width: 355px;
  }
}

.roast-chicken-img {
  &:hover {
    height: 250px;
    width: 355px;
  }
}
.Beef-Stroganoff-img {
  &:hover {
    height: 270px;
    width: 355px;
  }
}
.ricecrispies-img {
  &:hover {
    height: 320px;
    width: 355px;
  }
}

.dan-dan-noodle-img {
  &:hover {
    height: 270px;
    width: 355px;
  }
}

.chickenwraps-img {
  &:hover {
    height: 370px;
    width: 355px;
  }
}

// images of food on homepage
