@use "./variables" as v;

.container {
  margin: 0 auto;
  max-width: v.$site-width;
  border: 2px solidd red;
}

.banner-text {
  display: flex;
  justify-content: center;
}

// figure {
//   display: flex;
//   // grid-template-columns: 1fr 1fr 1fr 1fr;
//   max-width: 1440px;
//   flex-wrap: wrap;
// }
