@use "./variables" as v;

.container {
  margin: 0 auto;
  max-width: v.$site-width;
}

.banner-text {
  display: flex;
  justify-content: center;
}

.clearfix {
  clear: both;
}

.grid {
  display: grid;
}

.grid-2col {
  grid-template-columns: 1fr 1fr;
}

// layout in recipe section BEGINS

.recipe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-template-rows: 100px 1fr 500px;
  grid-template-areas: "header header" "ingredients image" "instructions instructions";
}

.recipe-heading {
  grid-area: header;
}

.recipe-ingredients {
  grid-area: ingredients;
}

.recipe-img {
  grid-area: image;
  place-items: center;
}

.recipe-instructions {
  grid-area: instructions;
  margin: 30px;
}
