@use "./variables" as v;

.container {
  margin: 0 auto;
  max-width: v.$site-width;
}

.banner-text {
  display: flex;
  justify-content: center;
}

.clearfix {
  clear: both;
}

.grid {
  display: grid;
}

.grid-2col {
  grid-template-columns: 1fr 1fr;
}
