@use "./variables" as v;

// homepage STARTS

.banner h1 {
  display: inline-block;
  color: white;
  text-transform: capitalize;
  padding-top: 20px;

  font-size: 2.5rem;
}

.banner-caption p {
  color: white;
  text-align: center;
  word-spacing: 0.5rem;
  padding-bottom: 20px;
}

.navbar a {
  font-weight: 500;
  font-size: 2rem;
  padding: 20px;
  text-transform: capitalize;
  color: rgb(88, 68, 68);
  text-decoration: none;

  @media (max-width: 900px) {
    font-weight: 300;
    font-size: 1rem;
    padding: 20px;
  }
}

.copyright {
  color: white;
  padding: 50px;
  text-transform: capitalize;
}

// homepage ENDS

// select screen (eg. sweets) STARTS
.form-instructions {
  text-transform: capitalize;
  text-align: center;
  font-size: 2rem;
  color: v.$primary--color;
  @media (max-width: 750px) {
    font-size: 1rem;
  }
}
// // select screen (eg. sweets) ENDS
// recipes page STARTS
.recipe-heading {
  text-transform: capitalize;
  color: v.$primary--color;
  text-align: center;
  font-size: 1.5em;
}

.recipe-ingredients {
  margin: 20px 20px;

  font-size: 1.2em;
  font-weight: 800;
  li {
    margin-top: 10px;
    @media (max-width: 750px) {
      font-size: 0.7rem;
    }
  }
  li::first-letter {
    text-transform: capitalize;
  }
}

.recipe-instructions {
  font-size: 1.5em;
  font-weight: 800;
  margin: 20px 20px;
  word-spacing: 10px;
  width: 80%;
  text-align: left;
  place-items: center;
  li {
    margin-top: 20px;
    @media (max-width: 750px) {
      font-size: 0.7rem;
    }
  }
  li::first-letter {
    text-transform: capitalize;
  }
  h3 {
    text-transform: capitalize;
  }
}

.recipe-gap {
  margin-top: 20px;
}

.recipe-img {
  margin-top: 20px;
}

// recipes page ENDS

// meal planner page BEGINS
.meal-planner-heading {
  text-transform: capitalize;
  color: v.$primary--color;
  text-align: center;
  font-size: 1.5em;
}

.list-items,
li {
  text-transform: capitalize;
  font-size: 1.2em;
  padding-bottom: 50px;
  color: v.$primary--color;
  button {
    padding: 5px 20px;
  }
}
