@use "./variables" as v;

.banner h1 {
  display: inline-block;
  color: white;
  text-transform: capitalize;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2.5rem;
}

.banner-caption p {
  color: white;
  text-align: center;
  text-transform: capitalize;
  word-spacing: 0.5rem;
  padding-bottom: 10px;
}

.navbar a {
  font-weight: 500;
  font-size: 2rem;
  padding: 20px;
  text-transform: capitalize;
  color: rgb(88, 68, 68);

  text-decoration: none;
}

.copyright {
  color: white;
  padding: 50px;
  text-transform: capitalize;
}
