.banner h1 {
  display: inline-block;
  color: white;
  text-transform: capitalize;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2.5rem;
}

.banner-caption p {
  color: white;
  text-align: center;
  text-transform: capitalize;
  word-spacing: 0.5rem;
  padding-bottom: 10px;
}

.navbar p {
  font-weight: 1000;
  font-size: 2rem;
  padding: 20px;
  text-transform: capitalize;
  color: white;
  -webkit-text-stroke: 0.7px black;
}
